.info-1VyQPT::before {
    content: "Dream Frame Basic v1";
    color: white;
    font-size: 12px !important;
}
.theme-dark {
    --background-tertiary: transparent !important;
    --header-primary: white;
    --header-secondary: white;
    --text-normal: white;
    --text-muted: rgba(255, 255, 255, 0.5);
    --channels-default: white;
    --interactive-normal: white;
    --interactive-hover: white;
    --interactive-active: white;
    --interactive-muted: rgba(255, 255, 255, 0.5);
    --elevation-low: none !important;
}
div#app-mount::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-image: var(--custombackground);
    filter: brightness(0.3);
    background-size: cover;
}
div#app-mount, .app-2rEoOp, .bg-h5JY_x, nav.wrapper-1Rf91z.guilds-1SWlCJ, .sidebar-2K8pFh, .chat-3bRxxu, nav.container-PNkimc, .panels-j1Uci, .container-1r6BKw.themed-ANHk51, .scroller-2FKFPG.messages-3amgkR.scroller-3sQKXg, .scroller-2FKFPG.members-1998pB, section.panels-j1Uci_ {
    background: transparent;
}
.theme-dark .pageWrapper-1PgVDX, .channelTextArea-rNsIhG, .scrollableContainer-2NUZem.webkit-HjD9Er, .scroller-2FKFPG.contentRegionScroller-26nc1e, .sidebarRegionScroller-3MXcoP, .standardSidebarView-3F1I7i, .layer-3QrUeG, .contentRegion-3nDuYy, .scroller-305q3I {
    background: transparent;
}
.form-2fGMdU:before, .children-19S4PO:after, .guildSeparator-3s64Iy, .separator-gCa7yv, .divider-3573oO.marginBottom40-2vIwTv, .divider-3573oO.dividerDefault-3rvLe-, .divider-3573oO {
    display: none;
}
.default-1mVZrv.base-19D3Qq, .userInfoSection-2acyCx+.userInfoSection-2acyCx, .divider-3wNib3, .theme-dark .emojiRow-zIc7ZX, .separator-2I32lJ {
    border: none;
    box-shadow: none;
}
header.header-2o-2hj {
    border-radius: 5px;
}